$dark-text-color: #191919;
$light-text-color: #ddebf1;
$btn-bg-color: #ffc300;
$filter-to-btn-bg-color: brightness(0) saturate(100%) invert(78%) sepia(9%)
  saturate(5735%) hue-rotate(359deg) brightness(103%) contrast(102%);
$filter-to-dark-text-color: brightness(0) saturate(100%) invert(7%) sepia(1%)
  saturate(286%) hue-rotate(314deg) brightness(87%) contrast(92%);
